html {
  height: 100%;
  display: flex;
}

body {
  margin: auto;
  background-image: linear-gradient(45deg,
      rgba(134, 2, 232, 1) 42%,
      rgba(3, 62, 255, 0.9));
}

.main-container {
  height: 50vh;
  width: 50vw;
  background-color: white;
  border-radius: 5px;
}